__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

venv/
.venv/

outputs/
outputs_intrusion/
Output_files/
Output_Sobel/
SepData/

*.log

build/
apps/
finetune/
*.spec
*.exe

image_classification/dataset/
image_classification/runs/
image_classification/predict_images/
image_classification/prediction_results/
*-cls.pt
settings/realtime.json
